<%= form_tag charges_path, id: 'chargeForm' do %>
  <% if flash[:error].present? %>
    <div id="error_explanation">
      <p><%= flash[:error] %></p>
    </div>
  <% end %>

  <% if @product %>
    <%= image_tag(@product.image.url, class: 'product-card') %>
    <%= hidden_field(:fbuser, :id) %>
    <%= hidden_field(:product_load, :id) %>
  <% end %>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <%= hidden_field_tag 'stripeToken' %>
  <%= hidden_field_tag 'stripeEmail' %>
  <button id="customButton" class="btn btn-large btn-primary">Buy Now</button>

  <script>
    var handler = StripeCheckout.configure({
      key: "<%= Rails.configuration.stripe[:publishable_key] %>",
      image: 'image_url("nkLOGOblue.png")',
      token: function(token, args) {
        document.getElementById("stripeToken").value = token.id;
        document.getElementById("stripeEmail").value = token.email;
        document.getElementById("chargeForm").submit();
      }
    });

    document.getElementById('customButton').addEventListener('click', function(e) {
      // Open Checkout with further options
      handler.open({
        name: 'Nitro Kaffe',
        description: 'Nitro Kaffe No3',
        amount: <%= @amount.to_i %>,
        zipCode: true
      });
      e.preventDefault();
    });
  </script>
<% end %>
